@import "../../../theme.scss";

$animation-time: 0.25s;

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  -webkit-transition: -webkit-transform $animation-time ease-out;
  -moz-transition: -moz-transform $animation-time ease-out;
  -o-transition: -o-transform $animation-time ease-out;
  -ms-transition: -ms-transform $animation-time ease-out;
  transition: transform $animation-time ease-out;
  color: $secondary-color;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
