@import "../../../bp.scss";

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: $sm) {
  .toolbar-container {
    flex-direction: column;
  }
}
